{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Create Supplier{% endblock title %}
{% block content %}

            <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">Create Supplier</div> <br>
            
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Name:</label>
                    {% comment %} <input type="text" class="textinput form-control">  {% endcomment %}
                    {% render_field form.name class="textinput form-control" %}
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Phone No:</label>
                        {% render_field form.phone class="textinput form-control" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="{{ form.email.id_for_label }}">Email ID:</label>
                        {% render_field form.email class="textinput form-control" %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Address:</label>
                    {% render_field form.adress class="textinput form-control" %}
                </div>
                <div class="form-group">
                    <label for="">GSTIN No:</label>
                    {% render_field form.gstn class="textinput form-control" %}
                </div>

                <br>

                <div class="align-middle">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-danger" >Reset</button>
                    {% comment %} <a href="#" class="btn btn-danger"> Delete Supplier </a> {% endcomment %}
                    
                    <a href="{% url 'supplier_list' %}" class="btn btn-secondary">Cancel</a>
                </div>
                
            </form>
{% endblock content %}
