{% extends "base.html" %}
{% block title %}Create Supplier{% endblock title %}
{% block content %}

            <div class="content-section">
                <div class="media"><!-- Log on to codeastro.com for more projects -->
                    <div class="media-body">
                        <h2 style="color:#575757;" class="account-heading">&nbsp;name</h2>
                        <a href="#" class="btn btn-info" style="float: right;">Edit Details</a>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="fal">
                                    <b>Contact &nbsp; &nbsp;&nbsp; :</b> phone <br>
                                    <b>Email Id &nbsp;&nbsp;&nbsp;&nbsp; :</b> email<br>
                                    <b>GSTIN No &nbsp; :</b> gstin<br>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p class="fal">
                                    <b>Address:</b> <br> address
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-css table-hover table-bordered">
                
                <br>
                
                <thead class="thead-dark align-middle">
                    <tr>
                        <th width="10%">Bill No.</th>
                        <th width="15%">Stocks</th>
                        <th width="15%">Quantity</th>
                        <th width="15%">Total Purchased Price</th>
                        <th width="15%">Purchased Date</th>
                        <th width="30%">Actions</th>
                    </tr><!-- Log on to codeastro.com for more projects -->
                </thead>
              
                <tbody>
                    <tr>
                        <td class="align-middle"> <p>billno </p> </td>
                        <td class="align-middle">stock name<br> </td>
                        <td class="align-middle">quantity <br></td>     
                        <td class="align-middle">$total_price</td>
                        <td class="align-middle">date</td>
                        <td class="align-middle"> <a href="#" class="btn btn-secondary">View Bill</a> <a href="#" class="btn btn-danger">Delete Bill</a> </td>
                    </tr><!-- Log on to codeastro.com for more projects -->
                    
                </tbody>

            </table>


            {% if stocks %}
            <div class="align-middle">
              {% if is_paginated %}
                {% if page_obj.has_previous %}
                  <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                  <a class="btn btn-outline-info mb-4" href="?page={page_obj.previous_page_number}">Previous</a>
                {% endif %}
                {% for page_num in page_obj.paginator.page_range %}
                  {% if page_num == page_obj.number %}
                    <a class="btn btn-info mb-4" href="#">{{ page_num }}</a>
                  {% else %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
              {% endif %}
            </div>
            {% else %}
            <br><br><br><br><br><br><br><br>
            <div style="color: #575757; font-style: bold; font-size: 1.5rem; text-align: center;">The records are empty.Please tryadding some.</div>
            {% endif %}

{% endblock content %}
