


<nav id="sidebar">
  
  <div class="sidebar-header">
    <a class="navbar-brand titlefont mr-4" href="#">
      <h3>IMS-Django </h3>
    </a>
  </div>
  
  <ul class="list-unstyled sidebar-components">
    {% if request.user.is_authenticated %}
      <li>
        <a class="sidebar-text sidebar-button" href="\"><i class="fas fa-home"></i> Home</a>
      </li>
      <li>
        <a href="#inventorySubmenu" data-toggle="collapse"
          class="dropdown-toggle sidebar-text right-arrow sidebar-button"><i class="fas fa-boxes"></i> Inventory</a>
        <ul class="collapse list-unstyled" id="inventorySubmenu">
          <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'create_stock' %}"><i class="fas fa-dot-circle"></i> Add
              New</a> </li>
          <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'stock_list' %}"><i class="fas fa-dot-circle"></i>
              Inventory List</a> </li>
        </ul>
      </li>
      <li>
        <a href="#purchaseSubmenu" data-toggle="collapse"
          class="dropdown-toggle sidebar-text right-arrow sidebar-button"><i class="fas fa-cash-register"></i>
          Purchases</a>
        <ul class="collapse list-unstyled" id="purchaseSubmenu">
          <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="#"><i class="fas fa-dot-circle"></i> New
              Incoming Stock</a> </li>
          <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="#"><i class="fas fa-dot-circle"></i>
              Purchases List</a> </li>
        </ul>
      </li>
      <li>
        <a href="#saleSubmenu" data-toggle="collapse" class="dropdown-toggle sidebar-text right-arrow sidebar-button"><i
            class="fas fa-dollar-sign"></i> Sales</a>
        <ul class="collapse list-unstyled" id="saleSubmenu">
          <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="#"><i class="fas fa-dot-circle"></i> New
              Outgoing Stock</a> </li>
          <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="#"><i class="fas fa-dot-circle"></i> Sales
              Orders</a> </li>
        </ul>
      </li>
      <li>
        <a href="#supplierSubmenu" data-toggle="collapse"
          class="dropdown-toggle sidebar-text right-arrow sidebar-button"><i class="fas fa-dolly-flatbed"></i>
          Suppliers</a>
        <ul class="collapse list-unstyled" id="supplierSubmenu">
          <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'create_supplier' %}"><i class="fas fa-dot-circle"></i> Add
              New Supplier</a> </li>
          <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'supplier_list' %}"><i class="fas fa-dot-circle"></i>
              Suppliers List</a> </li>
        </ul>
      </li>
      <li>
        <a class="sidebar-text sidebar-button" href="#"><i class="fas fa-info-circle"></i> About</a>
      </li>

      <li class="bottomleft">
        <a href="#UserSubmenu" data-toggle="collapse" class="dropdown-toggle sidebar-text right-arrow sidebar-button"><i
            class="fas fa-user-circle"></i> Admin</a>
        <ul class="collapse list-unstyled" id="UserSubmenu">
          {% if request.user.is_superuser %}
            <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'admin:index' %}"><i class="fas fa-dot-circle"></i>Admin Page</a> </li>
          {% endif %}
    {% endif %}
        <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'logout' %}"><i class="fas fa-dot-circle"></i>Logout</a> </li>
      </ul>
    </li>
  </ul>

</nav>